.heroRecette {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../../assets/images/spaghetti.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 300px;
}
.recette {
    .gridRecette {
        padding-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    .temps {
        display: flex;
        justify-content: space-between;
    }
    .ingredients {
        padding-top: 100px;
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
                list-style: circle;
            }
        }
    }
    .gallery {
        padding: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }
}
