/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    color: var(--color-white);
    background: linear-gradient(#10c991, #0a6e50);
    line-height: 1.6;
}
