{% include '_partials/_header.html' %}

<section class="heroRecettes">
    <div class="wrapper">
        <h1>Toutes Nos Recettes</h1>
    </div>
</section>

<section class="recettes">
    <div class="wrapper">
        <h2>Viandes</h2>
        <div class="cards">
            <article class="card">
                <div class="card_media"></div>
                <div class="card_content">
                    <h3>Titre de la recette</h3>
                    <p>Courte description d'une recette</p>
                    <h4>Catégorie</h4>
                </div>
            </article>

            <article class="card">
                <div class="card_media"></div>
                <div class="card_content">
                    <h3>Titre de la recette</h3>
                    <p>Courte description d'une recette</p>
                    <h4>Catégorie</h4>
                </div>
            </article>
        </div>

        <h2>Végétariens</h2>
        <div class="cards">
            <article class="card">
                <div class="card_media"></div>
                <div class="card_content">
                    <h3>Titre de la recette</h3>
                    <p>Courte description d'une recette</p>
                    <h4>Catégorie</h4>
                </div>
            </article>

            <article class="card">
                <div class="card_media"></div>
                <div class="card_content">
                    <h3>Titre de la recette</h3>
                    <p>Courte description d'une recette</p>
                    <h4>Catégorie</h4>
                </div>
            </article>
        </div>

        <h2>Desserts</h2>
        <div class="cards">
            <article class="card">
                <div class="card_media"></div>
                <div class="card_content">
                    <h3>Titre de la recette</h3>
                    <p>Courte description d'une recette</p>
                    <h4>Catégorie</h4>
                </div>
            </article>

            <article class="card">
                <div class="card_media"></div>
                <div class="card_content">
                    <h3>Titre de la recette</h3>
                    <p>Courte description d'une recette</p>
                    <h4>Catégorie</h4>
                </div>
            </article>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
