{% include '_partials/_header.html' %}

<section class="heroRecette">
    <div class="wrapper">
        <img />
        <h1>Titre de la recette</h1>
    </div>
</section>

<section class="recette">
    <div class="wrapper">
        <div class="gridRecette">
            <div class="recetteImage">
                <img />
                <p>Note : 5/5</p>
            </div>
            <div class="recetteInfo">
                <h3>Découvrez notre recette de spaghetti classique ! 🍝</h3>
                <p>
                    Plongez dans l’univers des saveurs italiennes avec notre recette de spaghetti. Ce plat simple et
                    délicieux est parfait pour un dîner en famille ou entre amis. Nous vous guiderons à travers chaque
                    étape pour préparer des spaghetti al dente, accompagnés d'une sauce tomate savoureuse qui mêle
                    l’acidité des tomates, la douceur des oignons, et le parfum des herbes fraîches. Ajoutez une touche
                    de parmesan râpé pour un fini gourmand. Que vous soyez novice en cuisine ou un passionné, cette
                    recette vous permettra de préparer un repas réconfortant qui ravira les papilles de tous vos
                    convives. Suivez nos instructions, et savourez le goût authentique de l’Italie chez vous ! Buon
                    appetito ! 🍽️
                </p>
                <p>Recette par Narancia Mista</p>
                <div class="temps">
                    <p>Temps Préparation 50 min</p>
                    <p>Temps Cuisson 20 min</p>
                    <p>4 portions</p>
                </div>
                <p>IL MANQUE LES CATÉGORIES, LA GALERIE, LES INGRÉDIENTS ET LE FAVORI</p>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
